{% load i18n jsonify %}

<h3>{% if title %}{{ title }}{% else %}{% trans "Count" %}{% endif %}</h3>

{% if nodata %}
    <div class="ct-chart ct-cc-{{ name }}" style="display: block; height: 150px; width: 100%; text-align: center; padding-top: 50px; background-color: #eee;">
       <h3>{% trans "No Data" %}</h3>
    </div>
{% else %}
    <div class="world-map-{{ name }}">
        {% include "stats/world_map.svg" %}
    </div>

<script>
    function get_color(val) {
        if(val > 20) return 'rgb(119, 33, 111)';
        if(val > 15) return 'rgb(133, 55, 125)';
        if(val > 10) return 'rgb(146, 77, 140)';
        if(val > 5) return 'rgb(160, 100, 154)';
        if(val > 4) return 'rgb(173, 122, 169)';
        if(val > 3) return 'rgb(187, 144, 183)';
        if(val > 2) return 'rgb(194, 155, 190)';
        if(val > 1) return 'rgb(201, 166, 197)';
        if(val > 0.8) return 'rgb(207, 177, 205)';
        if(val > 0.6) return 'rgb(214, 188, 212)';
        if(val > 0.4) return 'rgb(221, 200, 219)';
        if(val > 0.2) return 'rgb(228, 211, 226)';
        if(val > 0.1) return 'rgb(235, 222, 233)';
        if(val > 0.05) return 'rgb(241, 233, 241)';
        return '#ccc';
    };
    $(document).ready(function() {
        var hovered = null;
        var map = $('#map_{{ name }}');
        var values = {{ values|jsonify }};
        var total = {{ total|default:0 }};
        var tooltip = $('<div class="chartist-tooltip"></div>')
        var formatter = new Intl.NumberFormat(undefined, { maximumSignificantDigits: 3 });

        $.each(values, function(key, item) {
            var pc = (item.value / total) * 100;
            var red = (item.value / total) * 128 + 128;
            var country = $('#' + key, map);
            country.attr('style', 'fill:' + get_color(pc));
            country.data('toggle', 'tooltip');
            country.data('name', item.meta);
            country.data('value', item.value);
            country.data('pc', pc.toFixed(2));
        });
        $('path', map).tooltip({
            show: { effect: "fade", duration: 400 },
            track: true,
            content: function () {
                var c = $(this);
                return "<h3>"+c.data('name')+"<h3><p><b>" + formatter.format(c.data('value')) + "</b> <i>" + c.data('pc') + "%</i></p>";
            },
        });
    });
</script>
{% endif %}

