{% extends "modal.html" %}
{% load i18n %}

{% block supercontent %}
  <ul id="messages">
      <li class="error">{% blocktrans %}You DO NOT need a user account to use Inkscape. This website is ONLY for particpating in the community, uploading artworks and posting to the forums. Go to <a href="/releases/">downloads</a> to get Inkscape.{% endblocktrans %}</li>
  </ul>
  {{ block.super }}
{% endblock %}
{% block "title" %}{% trans "Welcome to New User Registration!" %}{% endblock %}
{% block "breadcrumbs" %}{% endblock %}

{% block "dialog-form" %}
  {% if request.user.is_authenticated %}
    <p>{% trans "You are already a registered user." %}</p>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block "dialog-body" %}
  <p>{% trans "In order to register for an account you must provide a valid email address." %}</p>
  <p>{% trans "The Inkscape website has the ability to notify you via email when things happen, like a new Inkscape release or a personal message from another user. If you would like to control when an email should be sent to you, please go to your User Settings." %}</p> 
  <p>{% trans "This website and its services are provided 'as is', and you should not expect the services to continue to work or serve any particular need. Your files should never be assumed to be safe here and you should back everything up." %}</p>
  {% with "https://inkscape.org/about/privacy/" as privacy_url and "https://inkscape.org/community/coc/" as coc_url %}
  <p>{% blocktrans %}By registering, you acknowledge the Inkscape website's <a href="{{privacy_url}}">Privacy Policy</a> and agree to respect the Inkscape <a href="{{coc_url}}">Community's Code of Conduct</a>.{% endblocktrans %}
  {% endwith %}
  <div class="form-group"><hr/></div>
{% endblock %}

{% block "form-buttons" %}
  {% if request.user.is_authenticated %}
    <a class ="btn btn-primary" href="{% url "my_profile" %}">{% trans "My User Profile" %}</a>
  {% else %}
    <button class="btn btn-primary" type="submit">{% trans "Register" %}</button>
  {% endif %}
{% endblock %}
