{% extends 'modal.html' %}
{% load i18n static extras %}

{% block "css" %}{{ block.super }}
<style>
h2 {
    border: 0px;
}
img {
    max-width: 120px;
    max-height: 120px;
}
.details {
  border: 1px grey solid;
  padding: 5px;
  margin: 12px;
  border-radius: 6px;
}
#memberdetails li {
  padding: 2px;
}

#memberdetails li.role em {
  color: white;
  padding: 3px 10px;
  border-radius: 9px;
}
#memberdetails li.winner em {background-color: #e1b000;}
#memberdetails li.purple em {background-color: #614266;}
#memberdetails li.blue em {background-color: #2e5a92;}
#memberdetails li.red em {background-color: #982828;}
#memberdetails li.green em {background-color: #289842;}
#memberdetails li.orange em {background-color: #aa7216;}
#memberdetails li.grey em {background-color: #606060;}
#memberdetails li.plat em {background-color: #8d8d8d;}
</style>
{% endblock %}

{% block "dialog-subtitle-nope" %}
  <a href="{{ object.team.get_absolute_url }}"><img id="photo" src="{{ object.team.icon.url }}"/></a>
  <a href="{{ object.user.get_absolute_url }}" style="float: right;"><img id="photo" src="{{ object.user.photo_url }}"></a>
{% endblock %}

{% block "dialog-body" %}
  <div style="text-align: center;">
    {% if object.user.photo %}
      <a href="{{ object.user.get_absolute_url }}"><img id="photo" src="{{ object.user.photo_url }}"></a>
    {% endif %}
    <h1 id="name"><a href="{{ object.user.get_absolute_url }}">{{ object.user }}</a></h1>
    {% if object.is_expired %}
      <h2>Expired Member</h2>
    {% elif object.is_requester %}
      <h2>Requesting to join</h2>
    {% elif object.is_member %}
      <h2>Active Member</h2>
    {% elif object.is_watcher %}
      <h2>Watching Only</h2>
    {% endif %}

  {% if object.is_requester %}
    <p id="bio">
      {% if object.user == request.user %}
        {% if object.team.enrole_msg %}
          {{ object.team.enrole_msg|safe }}
        {% else %}
          {% trans "Your request will be considered by the team admin and they will comment here about any further requirements to your membership." %}
        {% endif %}
      {% elif request.user in object.team.peers %}
        {% trans "Be sure to follow the policy for the team when communicating with the person who is asking for membership of this team. If unsure, contact the team admin." %}
      {% endif %}
    </p>
  {% endif %}

  <div id="memberdetails" class="details">
    <ul>
      {% if object.role %}
        <li class="role {{ object.role.style }}"><strong>{% trans "Team Role" %}</strong>: <em>{{ object.role.title }}</em></li>
      {% elif object.title %}
        <li class="role {{ object.style }}"><strong>{% trans "Custom Role" %}</strong>: <em>{{ object.title }}</em></li>
      {% endif %}
      {% if object.requested %}
        <li><strong>{% trans "Requested to be member" %}</strong>: <em>{{ object.requested }}</em></li>
      {% endif %}
      {% if object.joined %}
        <li><strong>{% trans "Admitted as member" %}</strong>: <em>{{ object.joined }}</em></li>
        {% if object.added_by %}
          <li><strong>{% trans "Admitted by" %}</strong>: <em>{{ object.added_by }}</em></li>
        {% endif %}
      {% endif %}
      {% if object.expired %}
        <li><strong>{% trans "Expired or Removed" %}</strong>: <em>{{ object.expired }}</em></li>
        {% if object.removed_by %}
          <li><strong>{% trans "Removed by" %}</strong>: <em>{{ object.removed_by }}</em></li>
        {% endif %}
      {% endif %}
    </ul>
  </div>
  <div class="details">
    <h2>{% trans "Approvals and Disapprovals" %}</h2>
    <ul class="other-messages">
      {% for appr in object.all_approvals %}
        {% if appr.approves %}
          <li class="success">{{ appr.added|ago }} - <strong>{{ appr.acting_user }}</strong> - <em>{{ appr.reason|default:'No reason' }}</em></li>
        {% else %}
          <li class="error">{{ appr.added|ago }} - <strong>{{ appr.acting_user }}</strong> - <em>{{ appr.reason|default:'No reason' }}</em></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
{% endblock %}

{% block "dialog-buttons" %}
    <div class="approvebuttons">
      {% if request.user in object.team.peers %}
        {% if object.is_requester %}
          <a class="btn btn-success" href="{% url "team.approve" object.team.slug object.user.username %}" title="{% trans "Approve user membership" %}">Approve</a>
    <script>popUpLink("{% blocktrans %}Are you sure you want to approve {{ object.user }}'s membership to {{ object.team }}?{% endblocktrans %}", '{% trans "Cancel" %}', '{% trans "Approve" %}', "{{ object.get_absolute_url }}", "{% trans "Reason for approving" %}");</script>

          <a class="btn btn-danger" href="{% url "team.disapprove" object.team.slug object.user.username %}" title="{% trans "Disapprove of user's membership" %}">Disaprove</a>
    <script>popUpLink("{% blocktrans %}Are you sure you want to disapprove of {{ object.user }}'s membership in {{ object.team }}?{% endblocktrans %}", '{% trans "Cancel" %}', '{% trans "Disapprove" %}', "{{ object.get_absolute_url }}", "{% trans "Reason for your disapproval" %}");</script>
        {% elif object.is_member %}
        <a class="btn btn-danger" href="{% url "team.remove" object.team.slug object.user.username %}" title="{% trans "Remove user from the team" %}">Remove From Team</a>
          <script>popUpLink("{% blocktrans %}Are you sure you want to remove {{ object.user }} from {{ object.team }}?{% endblocktrans %}", '{% trans "Cancel" %}', '{% trans "Remove" %}', "{{ object.team.get_absolute_url }}");</script>
        {% endif %}
      {% elif object.is_member %}
        <a class="btn btn-danger" href="{% url "team.leave" object.team.slug %}">Leave Team</a>
        <script>popUpLink("{% blocktrans %}Are you sure you want to leave {{ object.team }}?{% endblocktrans %}", '{% trans "Cancel" %}', '{% trans "Leave Team" %}', "{{ object.team.get_absolute_url }}");</script>
      {% elif object.is_requester and object.user == request.user %}
        <p>{% blocktrans %}Your request to join this team is in process.{% endblocktrans %}</p>
      {% endif %}
    </div>
  </div>
{% endblock %}

