/* License: AGPLv3 or later (http://www.gnu.org/licenses/), Copyright 2013, Martin Owens <doctormo@gmail.com> */


#banners {
  display: block;
  height: 430px;
  position: relative;
  border-radius:5px 5px 0 0;
  border: 1px solid #dedede;
  border-width:1px 1px 0px 1px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: bottom-left;
  
}

#banners > div {
  border-radius:4px 4px 0 0;
  background-color: #ffffff;
  background-image: url("../images/banner.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  
  margin: 0px !important;
  display: block;
  height: 432px;
  left: 0px;
  margin: 0;
  opacity: 0;
  padding: 0px;
  position: absolute;
  transition: opacity 0s ease 0.4s;
  width: 100%;
}

#banners > div.current {
  opacity: 1;
  transition: opacity 0.4s ease 0s;
  z-index: 1;
}

#banners > div p {
  font-size: 18px;
  line-height: 25px;
}

#banners > div > p {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 1em;
  line-height: 0;
}
#banners > div > p > a {
  color: white;
  mix-blend-mode:invert;
  background-color:#fff;
  color:#000;
  padding:3px 6px;
  opacity:0.45;
  
}
#banners > div > p > a:active {
  color: red;
}

#banners > div > div {
  height: 250px;
  margin: 10px 30px 0px;
  max-width: 860px;
  text-align: right;
  width: calc(100% - 60px);
}

#banners > div > div > p.text {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 6px;
  font-size: 18px;
  line-height: 26px;
  margin-left: auto;
  max-width: 400px;
  padding: 10px;
  display: inline-block;
  text-align: justify;
}

#banners a.button {
  border-color: #666666;
  display: inline-block;
}

#banners a.button img {
  float: right;
  margin: -4px -2px -4px 8px;
}

#banners > div > div > p.foot {
  font-size: 80%;
  margin-top: 5px;
}

#banners > div > div > p.foot > span {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  color: #444444;
  padding: 2px 6px;
}

#shield .tabs {
  font-size: 12px;
  line-height: 16px;
  list-style: none;
  display: table;
  table-layout: fixed;
  word-wrap: break-word;
  margin: 0px;
  padding-left: 0;
  position: relative;
  z-index: 2;
  border-width:1px;
  border-style:solid;
  border-radius:0;
  border-color:#dedede;
}

#shield .tabs > li {
  background-color: #1a1a1a;
  background-image: linear-gradient(to bottom, #444, #333);
  border-color: #dedede #333333 #1a1a1a #dedede;
  border-style: solid;
  border-width: 0px 0px 0 1px;
  display: table-cell;
  width: 1%;
  cursor: pointer;
}

#shield .tabs > li:first-child {
  border-width: 0px 0px 0 0px;
}

#shield .tabs > li > a,
#shield .tabs > li > div {
  color: #dedede;
  display: block;
  overflow: hidden;
  outline: 0;
  padding: 19px 15px 20px 60px;
  text-decoration: none;
  font-size:14px;
}
#shield .tabs > li > a {
  color: #dedede;
  display: block;
  overflow: hidden;
  outline: 0;

  text-decoration: none;
  font-size:0.95rem;
  line-height:1;
}

#shield .tabs:not(.fixed) > li:hover,
#shield .tabs:not(.fixed) > li:focus,
#shield .tabs:not(.fixed) > li.current {
  background-color: #333333;
  background-image: linear-gradient(to bottom, #333, #222);
}
#shield .tabs.fixed li:not(.container):hover {
  background-color: #5b5b5b;
  background-image: linear-gradient(to bottom, #222, #333);
}

#shield .tabs li > a > img {
  float: left;
  margin-left: -45px;
  width: 32px;
  height: 32px;
  margin-top:-8px;
  vertical-align:middle;
}

#shield .tabs strong {
  display: block;
  font-size: 1.4em;
  font-weight: normal;
  margin: -6px 0 22px -45px;
  opacity:0.8;
    color:#FF7804;
}

#shield .tabs li:first-child {
  border-radius: 0;
}

#shield .tabs li:last-child {
  border-radius: 0;
}

@media screen and (max-width: 1400px) {
  #shield .tabs strong {
  margin: -0px 0 14px -45px;
  }
  #shield .tabs li > a > img {
     margin-top:0px;
  }
   #shield  #banners , #shield  #banners > div{
    border-radius:0;
    border-width:1px 0 0 0;
    height:330px;  
  }

  #shield  #banners , #shield  #banners > div{
    border-radius:0;
    border-width:1px 0 0 0;
  }
  #shield  .tabs {
    border-width: 1px 0 0 0;
    margin:0;
  }
  body > .footer {
    border-radius:0;
  }
  #shield,#menu:not(.shown){
    margin-top:32px;
    background-color:#fff;
  }
}
@media screen and (max-width: 1120px) {
  
   #shield  #banners , #shield  #banners > div{
    border-radius:0;
    border-width:1px 0 0 0;
    height:278px;  
  }

}


